<h1> Reviews</h1>

<ul class="list-unstyled" >
<% @reviews.each do |r| %>
  <li> <%= r.content %> -- <%=(r.rating)%>*</li>
<% end  %>
</ul>


<%= link_to "Go back to the list of restaurants", restaurants_path %>
